.main-content{
    padding: 2.3rem;
  
    .title{
        text-transform: uppercase;
        font-size: 17px;
    }

    .container-statistics {
        padding: 15px 0px;
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        .statistics-box {
            display: flex;
            align-items: center;
            height: 107px;
            background-color: #fff;
            flex-basis: 33.333333%;
            justify-content: space-between;
            border-radius: 6px;
            margin: 0 15px;

            .container-text {
                padding-left: 30px;
                .number {
                    font-size: 2.76rem;
                    color: #0e0b20;
                }
                .text {
                    color: #74708d;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 13px;
                }
            }
            .image {
                height: 100%;
                svg {
                    height: 100%;
                }
            }
        }
    }

    .cards {
        padding: 15px 0px;
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
    

        .card{
            flex-basis: 33.333333%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            margin: 0 15px;
            position: relative;

            .price{
                position: absolute;
                top: .76rem;
                right: -.77rem;
                background: #46be8a;
                color: #fff;
                border-radius: 3px;
                box-shadow: 0 0 10px rgba(0, 0, 100, 0.2);
                padding: 6px 1rem;
                font-weight: 700;
                font-size: 16px;
            }

            i {
                font-size: 56px;
                color: #b8beca;
                font-weight: 100;
                margin-bottom: 1.15rem;
            }
            .name {
                display: block;
                text-align: center;
                font-size: 18px;
                color: #0e0b20;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .discription {
                display: block;
                text-align: center;
                font-size: 16px;
                color: #74708d;
                margin-bottom: 36px;
            }
            .type {
                display: block;
                text-align: center;
                font-size: 16px;
                color: #74708d;
                margin-bottom: 1.53rem;
            }
            .footer {
                text-align: center;
                border-top: 1px solid #e4e9f0;
                color: #74708d;
                padding-top: .76rem;
                font-style: italic;
                font-size: 15px;
                width: 100%;
            }
        }
    }
}

@media  (max-width:1200px) {
    .main-content {
        .container-statistics {
            flex-wrap: wrap;
            .statistics-box{
                margin: 7px 15px;
                flex-basis: 100%;
            }
        }
        .cards {
            flex-wrap: wrap;;
            .card{
                margin: 10px 15px;
                flex-basis: 100%;
            }
        }
    }
  }