.main-content {
  padding: 2.3rem;
}

.main-content .title {
  text-transform: uppercase;
  font-size: 17px;
}

.main-content .container-statistics {
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.main-content .container-statistics .statistics-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 107px;
  background-color: #fff;
  -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 6px;
  margin: 0 15px;
}

.main-content .container-statistics .statistics-box .container-text {
  padding-left: 30px;
}

.main-content .container-statistics .statistics-box .container-text .number {
  font-size: 2.76rem;
  color: #0e0b20;
}

.main-content .container-statistics .statistics-box .container-text .text {
  color: #74708d;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

.main-content .container-statistics .statistics-box .image {
  height: 100%;
}

.main-content .container-statistics .statistics-box .image svg {
  height: 100%;
}

.main-content .cards {
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.main-content .cards .card {
  -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 0 15px;
  position: relative;
}

.main-content .cards .card .price {
  position: absolute;
  top: .76rem;
  right: -.77rem;
  background: #46be8a;
  color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 100, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 100, 0.2);
  padding: 6px 1rem;
  font-weight: 700;
  font-size: 16px;
}

.main-content .cards .card i {
  font-size: 56px;
  color: #b8beca;
  font-weight: 100;
  margin-bottom: 1.15rem;
}

.main-content .cards .card .name {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #0e0b20;
  font-weight: 700;
  margin-bottom: 10px;
}

.main-content .cards .card .discription {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #74708d;
  margin-bottom: 36px;
}

.main-content .cards .card .type {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #74708d;
  margin-bottom: 1.53rem;
}

.main-content .cards .card .footer {
  text-align: center;
  border-top: 1px solid #e4e9f0;
  color: #74708d;
  padding-top: .76rem;
  font-style: italic;
  font-size: 15px;
  width: 100%;
}

@media (max-width: 1200px) {
  .main-content .container-statistics {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-content .container-statistics .statistics-box {
    margin: 7px 15px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .main-content .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-content .cards .card {
    margin: 10px 15px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=dashboard.css.map */