.main-menu {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-grow: 0;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  -webkit-box-shadow: 0 0 200px -20px rgba(57, 55, 73, 0.4);
          box-shadow: 0 0 200px -20px rgba(57, 55, 73, 0.4);
}

.main-menu .header {
  background-color: #000;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  overflow: hidden;
}

.main-menu .header .logo {
  height: 100%;
  width: 100%;
}

.main-menu .header .logo img {
  max-width: 100%;
  max-height: 100%;
}

.main-menu .header .logo .mobile {
  display: none;
}

.main-menu .menu-items {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-menu .menu-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 25px;
  color: #74708d;
}

.main-menu .menu-items .item span.new {
  background-color: #0190fe;
  color: #fff;
  padding: 2px 7px;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 12px;
}

.main-menu .menu-items .item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu .menu-items .item .icon i {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
}

.main-menu .menu-items .item.active {
  background-color: #e3f1ff;
}

.main-menu .menu-items .item.active .sub-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu .menu-items .item .sub-items {
  display: none;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

.main-menu .menu-items .item .sub-items .item {
  padding: 10px 0px;
  font-size: 14px;
  width: 100%;
}

.main-menu .footer {
  background: #e4e9f0;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  overflow: hidden;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.main-menu .footer .close-menu {
  display: none;
}

.main-menu.active {
  -ms-flex-preferred-size: 75px;
      flex-basis: 75px;
}

.main-menu.active .header {
  padding: 0;
}

.main-menu.active .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu.active .header .logo img {
  max-width: 75px;
  width: 45px;
}

.main-menu.active .header .logo .mobile {
  display: block;
}

.main-menu.active .header .logo .computer {
  display: none;
}

.main-menu.active .menu-items .item {
  position: relative;
  padding: 17px 25px;
}

.main-menu.active .menu-items .item .icon i {
  font-size: 13px;
}

.main-menu.active .menu-items .item .icon i.arrow {
  right: 3px;
  position: absolute;
  font-size: 15px;
}

.main-menu.active .menu-items .item .text {
  display: none;
}

.main-menu.active .footer .close-menu {
  display: block;
}

.main-menu.active .footer .open-menu {
  display: none;
}

@media (max-width: 992px) {
  .main-menu {
    -ms-flex-preferred-size: 75px;
        flex-basis: 75px;
  }
  .main-menu .header {
    padding: 0;
  }
  .main-menu .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-menu .header .logo img {
    max-width: 75px;
    width: 45px;
  }
  .main-menu .header .logo .mobile {
    display: block;
  }
  .main-menu .header .logo .computer {
    display: none;
  }
  .main-menu .menu-items .item {
    position: relative;
    padding: 17px 25px;
  }
  .main-menu .menu-items .item .icon i {
    font-size: 17px;
  }
  .main-menu .menu-items .item .icon i.arrow {
    right: 3px;
    position: absolute;
    font-size: 12px;
  }
  .main-menu .menu-items .item .text {
    display: none;
  }
  .main-menu .footer .close-menu {
    display: block;
  }
  .main-menu .footer .open-menu {
    display: none;
  }
  .main-menu.active {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
  .main-menu.active .header {
    padding: 0;
  }
  .main-menu.active .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
  }
  .main-menu.active .header .logo img {
    max-width: 85%;
    max-height: 85%;
    width: auto;
  }
  .main-menu.active .header .logo .mobile {
    display: none;
  }
  .main-menu.active .header .logo .computer {
    display: block;
  }
  .main-menu.active .menu-items .item {
    position: relative;
    padding: 17px 25px;
  }
  .main-menu.active .menu-items .item .text {
    display: block;
  }
  .main-menu.active .footer .close-menu {
    display: none;
  }
  .main-menu.active .footer .open-menu {
    display: block;
  }
}
/*# sourceMappingURL=menu.css.map */